/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 4758292 */
  src: url("//at.alicdn.com/t/c/font_4758292_93sboblw0zu.woff2?t=1733910374592")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4758292_93sboblw0zu.woff?t=1733910374592")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4758292_93sboblw0zu.ttf?t=1733910374592")
      format("truetype"),
    url("//at.alicdn.com/t/c/font_4758292_93sboblw0zu.svg?t=1733910374592#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
